body {
  background-image: url(./dedede.jpg);
  font-size: 16px;
}
h1.outset {
  border-style: outset;
  background-color: tomato;
  font-size: 32px;
}
.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdwn {
  float: left;
  overflow: hidden;
}

.dropdwn .dropdwn_btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav a:hover, .dropdwn:hover .dropdwn_btn {
  background-color: red;
}

.dropdwn-cont {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdwn_cont a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdwn_cont a:hover {
  background-color: #ddd;
}

.dropdwn:hover .dropdwn_cont {
  display: block;
}
